<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>TCDD</title>
</head>

<body>
    <div class="container">
        <form>
            <h3>Tren Bileti Ara</h3>
            <div class="setDate">
                <label for="date">Tarih : </label>
                <input type="date" id="date" name="" value="31-01-2022" />
            </div>
            <div class="destination">
                <div>
                    <label for="from">Nereden </label>
                    <select id="from" required>
                        <option value="İzmit">İzmit</option>
                        <option value="Ankara">Ankara</option>
                    </select>
                </div>
                <div>
                    <label for="to">Nereye </label>
                    <select id="to" required>
                        <option value="İzmit">İzmit</option>
                        <option value="Ankara">Ankara</option>
                    </select>
                </div>
            </div>
            <button type="submit"> Ara</button>
        </form>
    </div>
</body>

</html>