svg {
  height: 100%;
}

/* 
  tangent(30) = 0.57735026919
  */

@keyframes trainAnimation {
  0% {
    transform: translate(2500px, calc(-1 * 2500px * 0.57735026919));
  }

  35% {
    transform: translate(0);
  }

  65% {
    transform: translate(0);
  }

  100% {
    transform: translate(-2500px, calc(2500px * 0.57735026919));
  }
}

#Train1 {
  animation: trainAnimation 15s ease-in-out infinite;
  animation-fill-mode: forwards;
  transform: translate(2500px, calc(-1 * 2500px * 0.57735026919));
}

#Train2 {
  animation: trainAnimation 16s 3s ease-in-out infinite reverse;
  animation-fill-mode: forwards;
  transform: translate(-2500px, calc(2500px * 0.57735026919));
}
